<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title><%= htmlWebpackPlugin.options.config.app.name %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.config.app.description %>">

    <base href="<%= htmlWebpackPlugin.options.config.app.basePath %>">

    <script>
      window.MyAppGlobals = {
        version: '<%= htmlWebpackPlugin.options.config.app.version %>',
        rootPath: '<%= htmlWebpackPlugin.options.config.app.basePath %>',
        wideWidth: '<%= htmlWebpackPlugin.options.config.settings.wideWidth %>'
      };
    </script>

    <!-- polyfills -->
    <!-- load the webcomponents loader, which injects the necessary polyfill bundle -->
    <!-- Needed for IE11, Edge, Firefox, Safari<11 -->
    <script src="scripts/wc/webcomponents-loader.js"></script>
    <% if (htmlWebpackPlugin.options.config.app.transpile) { %>
    <!-- Load the elements adapter for es5 transpiled code -->
    <script src="scripts/wc/custom-elements-es5-adapter.js"></script>
    <% } %>

    <!-- Add any global styles for body, document, etc. -->
    <style>
    </style>
  </head>
  <body>
    <psr-router-app appTitle="<%= htmlWebpackPlugin.options.config.app.name %>"></psr-router-app>
    <noscript>
      Please enable JavaScript to view this website.
    </noscript>
  </body>
</html>
